.blade {
    color: #000;
    background: #049ec4 url(../images/cloud.jpg) 0 50% repeat-x;
    padding: 50px;
    margin: 0 0 20px 0;
    -webkit-box-shadow: #888 0 1px 4px;
    -moz-box-shadow: #888 0 1px 4px;
    -o-box-shadow: #888 0 1px 4px;
    box-shadow: #888 0 1px 4px;
    background-color: #049ec4;
    -webkit-animation: animate-cloud 10s linear infinite;
    -moz-animation: animate-cloud 10s linear infinite;
    -ms-animation: animate-cloud 10s linear infinite;
    -o-animation: animate-cloud 10s linear infinite;
    animation: animate-cloud 10s linear infinite;
    margin: 20px 0px 20px 0px;
}